<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Final Prep</title>  

  <link rel="stylesheet" href="css/styles.css?v=1.0">

</head>

<body>

    <a href="gallery.html">Gallery</a>
    {{>header}}
    <form id="Form" action="/" method="POST">
        <h1>Weather</h1>
        <input  type="text" name="username" placeholder="username">

        <input type="submit" value="Log In">

    </form>
    <br />
    <h1>Hourly weather: {{weather}}</h1>
    <img id="login_pic" src="red.jpg" />

    <script src="js/scripts.js"></script>
</body>
</html>